<template>
    <div>

        <section class="carusel">
            <carusel></carusel>

        </section>
        <section class="top" id="about">
            <div class="top__block">
                <h1 class="top__title">
                    ЭРА КАРС
                </h1>
                <p class="top__text">
                    Наша организация осуществляет
                    продажу запчастей для автомобилей
                    КАМАЗ, МАЗ, ГАЗель, ГАЗон-NEXT,
                    ВАЛДАЙ, МТЗ, спецтехники и
                    сельхозтехники, технических жидкостей
                    и смазочных материалов, аксессуаров и АКБ.
                </p>
                <p class="top__end">
                    Ваш универсальный магазин автозапчастей
                </p>
            </div>
            <div class="top__block top_block2">
                <img src="../assets/img/ae20c0ds-960.webp" alt="" class="top__img1 top__img">
                <img src="../assets/img/3.webp" alt="" class="top__img2 top__img">
                <img src="../assets/img/top.webp" alt="" class="top__img3 top__img">
            </div>
        </section>
        <div class="jakor">
            <svg role="presentation" class="jakor__svg" style="height:8vw;" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1280 200" preserveAspectRatio="none">
                <path d="M640 195.5L0 0v200h1280V0"></path>
            </svg>
        </div>
        <section class="production">
            <h1 class="production__title">

    Наши товары            </h1>
            <p class="production__description">
                Мы продаем только качественные запчасти по разумной цене!
            </p>
            <p class="production__text production__text1">За подробной информацией обращайтесь к нам по телефону:</p>
            <p class="production__text production__text2">+7 (921) 585-03-50</p>
            <div class="details__box">
                <details class="production__details">
                    <summary class="production__sum">Авто химия <img class="production__sum_plus"
                            src="../assets/img/plus-large-svgrepo-com.svg" alt=""></summary>
                    <img src="" alt="">
                    <ul class="production__list">
                        <img src="../assets/img/-2.jpeg" style="width: 700px; height: 466px;" alt="">
                        <li class="tracking-in-contract">Антифризы</li>
                        <li class="tracking-in-contract">Тосолы</li>
                        <li class="tracking-in-contract">Тормозные жидкости</li>
                        <li class="tracking-in-contract">Смазки</li>
                    </ul>
                </details>
                <details class="production__details">
                    <summary class="production__sum">Автозапчасти КПП <img class="production__sum_plus"
                            src="../assets/img/plus-large-svgrepo-com.svg" alt=""></summary>
                    <img src="" alt="">
                    <ul class="production__list">
                        <img src="../assets/img/3.jpg" style="width: 700px; height: 466px;" alt="">
                        <li class="tracking-in-contract">Шестерни</li>
                        <li class="tracking-in-contract">Вилки</li>
                        <li class="tracking-in-contract">Муфты</li>
                        <li class="tracking-in-contract">Подшипники</li>
                    </ul>
                </details>
                <details class="production__details">
                    <summary class="production__sum">Автозапчасти ДВС <img class="production__sum_plus"
                            src="../assets/img/plus-large-svgrepo-com.svg" alt=""></summary>
                    <img src="" alt="">
                    <ul class="production__list">
                        <img src="../assets/img/photo.jpeg" style="width: 700px; height: 466px;" alt="">
                        <li class="tracking-in-contract">Антифризы</li>
                        <li class="tracking-in-contract">Тосолы</li>
                        <li class="tracking-in-contract">Тормознае жидкости</li>
                        <li class="tracking-in-contract">Смазки</li>
                    </ul>
                </details>
                <details class="production__details">
                    <summary class="production__sum">Тормозная Система <img class="production__sum_plus"
                            src="../assets/img/plus-large-svgrepo-com.svg" alt=""></summary>
                    <img src="" alt="">
                    <ul class="production__list">
                        <img src="../assets/img/photo4.jpeg" style="width: 700px; height: 466px;" alt="">
                        <li class="tracking-in-contract">Накладки</li>
                        <li class="tracking-in-contract">Колодки</li>
                        <li class="tracking-in-contract">Цилиндры</li>
                        <li class="tracking-in-contract">Тросы</li>
                    </ul>
                </details>
                <details class="production__details">
                    <summary class="production__sum">Автозапчасти по ходовой <img class="production__sum_plus"
                            src="../assets/img/plus-large-svgrepo-com.svg" alt=""></summary>
                    <img src="" alt="">
                    <ul class="production__list">
                        <img src="../assets/img/5.jpeg" style="width: 700px; height: 466px;" alt="">
                        <li class="tracking-in-contract">Рулевые тяги</li>
                        <li class="tracking-in-contract">Сайлентблоки</li>
                        <li class="tracking-in-contract">Пружины</li>
                        <li class="tracking-in-contract">Рессоры</li>
                    </ul>
                </details>
                <details class="production__details">
                    <summary class="production__sum">Инструменты <img class="production__sum_plus"
                            src="../assets/img/plus-large-svgrepo-com.svg" alt=""></summary>
                    <img src="" alt="">
                    <ul class="production__list">
                        <img src="../assets/img/6.jpeg" style="width: 700px; height: 466px;" alt="">
                        <li class="tracking-in-contract">Домкраты</li>
                        <li class="tracking-in-contract">Ключи</li>
                        <li class="tracking-in-contract">СЪемники</li>
                    </ul>
                </details>
                <div class="details__button_box">
                    <button class="vibrate-2 details__button">
                        <a class="details__button_a " href="#">Сделать заказ</a>
                    </button>
                </div>

            </div>
        </section>
          <h1 class="production__title">
                    Наши адреса
                </h1>
        <section class="adress" id="contacts">
          
            <div class="adress_block">
                <img src="../assets/img/magazinfull.jpg" alt="" class="adress__img">
                <h2 class="adress__title">Наш магазин в пос. Федоровское

                </h2>
                <br>
                <p class="adress__text">Ленинградская область , городской посёлок Фёдоровское, Шоссейная ул., 29А</p>
                <p class="adress__text_bold">тел: +7 (921) 585 03 50
                </p> <br>
                <div class="adress__line">
                    <p class="adress__text_bold">email</p>

                    <p class="adress__text">info@eracars.ru</p>

                </div>
                <div class="adress__line">
                    <p class="adress__text_bold">Режим работы</p>



                </div>
                <div class="adress__line">
                    <p class="adress__text_bold">Понедельник</p>

                    <p class="adress__text">09:00 - 20:00</p>

                </div>
                <div class="adress__line">
                    <p class="adress__text_bold">Вторник</p>

                    <p class="adress__text">09:00 - 20:00</p>

                </div>
                <div class="adress__line">
                    <p class="adress__text_bold">Среда</p>

                    <p class="adress__text">09:00 - 20:00</p>

                </div>
                <div class="adress__line">
                    <p class="adress__text_bold">Четверг</p>

                    <p class="adress__text">09:00 - 20:00</p>

                </div>
                <div class="adress__line">
                    <p class="adress__text_bold">Пятница</p>

                    <p class="adress__text">09:00 - 20:00</p>

                </div>
                <div class="adress__line">
                    <p class="adress__text_bold">Суббота</p>

                    <p class="adress__text">09:00 - 19:00</p>

                </div>
                <div class="adress__line">
                    <p class="adress__text_bold">Воскресенье</p>

                    <p class="adress__text">09:00 - 19:00</p>

                </div>

            </div>
            <div class="adress_block">
                <img src="../assets/img/WhatsApp_Image_2023-.jpeg" alt="" class="adress__img">
                <h2 class="adress__title">Наш магазин в г. Колпино</h2>
                <br>
                <p class="adress__text">196655, г. Колпино, ул. Индустриализации, дом 1</p>
                <p class="adress__text_bold">тел: +7 (921) 988 60 56</p>
                <br>
                <div class="adress__line">
                    <p class="adress__text_bold">email</p>

                    <p class="adress__text">info@eracars.ru</p>

                </div>
                <div class="adress__line">
                    <p class="adress__text_bold">Режим работы</p>



                </div>
                <div class="adress__line">
                    <p class="adress__text_bold">Понедельник</p>

                    <p class="adress__text">09:00 - 20:00</p>

                </div>
                <div class="adress__line">
                    <p class="adress__text_bold">Вторник</p>

                    <p class="adress__text">09:00 - 20:00</p>

                </div>
                <div class="adress__line">
                    <p class="adress__text_bold">Среда</p>

                    <p class="adress__text">09:00 - 20:00</p>

                </div>
                <div class="adress__line">
                    <p class="adress__text_bold">Четверг</p>

                    <p class="adress__text">09:00 - 20:00</p>

                </div>
                <div class="adress__line">
                    <p class="adress__text_bold">Пятница</p>

                    <p class="adress__text">09:00 - 20:00</p>

                </div>
                <div class="adress__line">
                    <p class="adress__text_bold">Суббота</p>

                    <p class="adress__text">09:00 - 19:00</p>

                </div>
                <div class="adress__line">
                    <p class="adress__text_bold">Воскресенье</p>

                    <p class="adress__text">09:00 - 19:00</p>

                </div>
            </div>
        </section>
        <section class="map">
            <div style="position:relative;overflow:hidden;"><a
                    href="https://yandex.ru/maps?utm_medium=mapframe&utm_source=maps"
                    style="color:#eee;font-size:12px;position:absolute;top:0px;">Яндекс Карты</a><a
                    href="https://yandex.ru/maps/?from=api-maps&ll=30.572763%2C59.706190&origin=jsapi_2_1_79&pt=30.526863%2C59.654508~30.618663%2C59.757792&utm_medium=mapframe&utm_source=maps&z=11"
                    style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс Карты — транспорт, навигация, поиск
                    мест</a><iframe
                    src="https://yandex.ru/map-widget/v1/?from=api-maps&ll=30.572763%2C59.706190&origin=jsapi_2_1_79&pt=30.526863%2C59.654508~30.618663%2C59.757792&z=11"
                    width="100%" height="563" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
            </div>
        </section>
        <div class="button_box">
            <button class="rate__button">
                <a @click="Activate(ButtonIsActive)" class="rate__button_text">Отзывы наших покупателей</a>
            </button>
        </div>
        <section v-if="this.ButtonIsActive === 1" class="rates" style="">
            <div style="width:560px;height:800px; display: ;  overflow:hidden;"><iframe
                    style="width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box"
                    src="https://yandex.ru/maps-reviews-widget/127876676146?comments"></iframe><a
                    href="https://yandex.ru/maps/org/era_kars/127876676146/" target="_blank"
                    style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0;overflow:hidden;text-overflow:ellipsis;display:block;max-height:14px;white-space:nowrap;padding:0 16px;box-sizing:border-box">Эра
                    Карс на карте Санкт‑Петербурга и Ленинградской области — Яндекс Карты</a></div>

        </section>

    </div>
</template>

<script>
import carusel from '@/components/Carusel.vue'
export default {

    components: {
        carusel
    },
    data() {
        return {
            ButtonIsActive: 0,
        }
    },
    methods: {
        Activate(ButtonIsActive) {
            if (ButtonIsActive === 0) {
                this.ButtonIsActive = 1;
            }
            else {
                this.ButtonIsActive = 0;
            }
        }
    },


}
</script>
<style lang="scss">
html {
    scroll-behavior: smooth;
}

.button_box {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.rate__button {
    width: 353px;
    height: 56px;
    border: 3px solid black;
    background-color: white;

    &_text {
        font-family: Arial;
        font-weight: bold;
        justify-content: center;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-12-29 9:56:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
/* ----------------------------------------------
 * Generated by Animista on 2023-12-29 9:59:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */




/* Unfortunately letter-spacing and text-length don't line up with HTML text across the different browsers... */
/* ...so you're forced to just leave the letter spacing as is. */




@-webkit-keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-12-29 10:1:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-90-cw
 * ----------------------------------------
 */
@-webkit-keyframes rotate-90-cw {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-12-29 10:5:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-up {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }

    50% {
        -webkit-transform: scale(2) rotateZ(180deg);
        transform: scale(2) rotateZ(180deg);
    }

    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}

@keyframes rotate-scale-up {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }

    50% {
        -webkit-transform: scale(2) rotateZ(180deg);
        transform: scale(2) rotateZ(180deg);
    }

    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-12-29 10:32:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/* ----------------------------------------------
 * Generated by Animista on 2023-12-29 10:33:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-2
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-2 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    40% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    60% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    80% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

.vibrate-2 {
    -webkit-animation: vibrate-2 0.3s linear infinite both;
    animation: vibrate-2 0.3s linear infinite both;
}

@keyframes vibrate-2 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    40% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    60% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    80% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}




/*
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.top {
    height: 750px;
    background-color: lightgray;
    display: flex;

    &__title {
        padding-top: 150px;
        font-weight: bold;
        padding-left: 300px;
        font-family: Arial;
        font-size: 42px;
    }

    &__text {
        font-weight: bold;
        padding-top: 30px;
        padding-left: 300px;
        font-family: Arial;
        font-size: 20px;
        width: 400px;
    }

    &__end {
        font-size: 20px;
        font-family: Arial;
        padding-left: 300px;
        padding-top: 30px;
    }

    &__img1 {
        margin-top: 150px;
        width: 326px;
        height: 440px;
        background-size: contain;
        flex-grow: 0;
        object-fit: cover;
        padding-left: 200px;


    }

    &__img2 {
        width: 324px;
        height: 214px;
        object-fit: cover;
        position: absolute;
        padding-right: 200px;
        left: 1000px;
        top: 1500px;
    }

    &__img3 {
        width: 214px;
        height: 256px;
        object-fit: cover;
        padding-left: 10px;
        padding-bottom: 100px;

    }

    &_block2 {
        overflow: hidden;

    }
}

.jakor {
    height: 91px;

    &__svg {
        height: 91px;
        background-size: cover;
        width: 100%;
        fill: white;
        background-color: lightgray;

    }
}

.production {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;

    &__title {
        padding-top: 50px;
        font-family: Arial;
        font-weight: bold;
        font-size: 42px;
        justify-content: center;
        display: flex;
        padding-top: 50px;
    }

    &__description {
        font-family: Arial;
        font-size: 22px;
        justify-content: center;
        display: flex;

    }

    &__text1 {
        padding-top: 50px;
    }

    &__text2 {
        padding-bottom: 50px;
    }

    &__details>summary {
        background-color: white;
        margin-top: 10px;
        align-items: center;
        font-family: Arial;
        font-size: 22px;
        font-weight: bold;
        border-bottom: 3px solid lightgray;

        animation: slide-in-top;

        display: flex;
        justify-content: start;
        padding-left: 15px;
        height: 70px;
        list-style: none;
        cursor: pointer;
        width: 760px;
    }

    &__sum_plus {
        width: 40px;
        height: 40px;

    }

    &__sum_plus:hover {


        transition: 0.4s ease-out;
        animation: rotate-scale-up .65s linear both
    }


    &__list {
        background-color: white;
        padding-left: 30px;
        padding-top: 10px;
    }


}

.details__button {
    display: flex;
    height: 100vh;

    align-items: center;
    justify-content: center;
}

.details__box {

    background-color: #fff;
}

.details__button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 233px;
    height: 60px;
    background-color: red;
    border: 0px;

    &_box {
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: lightgray;
        display: flex;
        justify-content: center;
    }

    &_a {
        color: white;
    }
}

.adress {

    padding-bottom: 30px;
    padding-top: 50px;
    display: flex;
    gap: 30px;
    justify-content: center;

    &__img {
        width: 560px;
        height: 313px;
        object-fit: cover;

    }

    &__title {
        font-family: Arial;
        font-weight: 700;
    }

    &__text {

        font-size: 14px;
        font-family: Arial;

        &_bold {
            font-family: Arial;
            font-weight: bold;
            font-family: Arial;
        }
    }

    &__line {
        display: flex;
        gap: 5px;
    }
}
*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.top {
    min-height: 750px;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
}

.top__title {
    padding-top: 150px;
    font-weight: bold;
    padding-left: 300px;
    font-family: Arial;
    font-size: 42px;
    flex-basis: 100%;
}

.top__text {
    font-weight: bold;
    padding-top: 30px;
    padding-left: 300px;
    font-family: Arial;
    font-size: 20px;
    flex-basis: 100%;
    max-width: 400px;
}

.top__end {
    font-size: 20px;
    font-family: Arial;
    padding-left: 300px;
    padding-top: 30px;
    flex-basis: 100%;
}

.top__img1 {
    margin-top: 150px;
    width: 326px;
    height: 440px;
    background-size: contain;
    flex-basis: 100%;
    object-fit: cover;
    padding-left: 200px;
}
.jakor {
    height: 91px;

    &__svg {
        height: 91px;
        background-size: cover;
        width: 100%;
        fill: white;
        background-color: lightgray;

    }
}
.top__img2 {
    width: 324px;
    height: 214px;
    object-fit: cover;
    position: absolute;
    padding-right: 200px;
    left: 1000px;
    top: 1500px;
}

.top__img3 {
    width: 214px;
    height: 256px;
    object-fit: cover;
    padding-left: 10px;
    padding-bottom: 100px;
    flex-basis: 100%;
}

.production {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
}

.production__title {
    padding-top: 50px;
    font-family: Arial;
    font-weight: bold;
    font-size: 42px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.production__description {
    font-family: Arial;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

.production__text1 {
    padding-top: 50px;
}

.production__text2 {
    padding-bottom: 50px;
}

.production__details>summary {
    background-color: white;
    margin-top: 10px;
    align-items: center;
    font-family: Arial;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 3px solid lightgray;
    animation: slide-in-top;
    display: flex;
    justify-content: start;
    padding-left: 15px;
    height: 70px;
    list-style: none;
    cursor: pointer;
    max-width: 760px;
}

.production__sum_plus {
    width: 40px;
    height: 40px;
}

.production__sum_plus:hover {
    transition: 0.4s ease-out;
    animation: rotate-scale-up .65s linear both;
}

.production__list {
    background-color: white;
    padding-left: 30px;
    padding-top: 10px;
}

.details__button {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.details__box {
    background-color: #fff;
}

.details__button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 233px;
    height: 60px;
    background-color: red;
    border: 0px;
}

.details__button_box {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

.details__button a {
    color: white;
}

.adress {
    padding-bottom: 30px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.adress__img {
    width: 560px;
    height: 313px;
    object-fit: cover;
}

.adress__title {
    font-family: Arial;
    font-weight: 700;
    flex-basis: 100%;
}

.adress__text {
    font-size: 14px;
    font-family: Arial;
}

.adress__text_bold {
    font-family: Arial;
    font-weight: bold;
}

.adress__line {
    display: flex;
    
}
@media only screen and (max-width: 576px) {
    .top{
        &__title{
            display: flex;
            padding-left: 50px;
            padding-right: 10px;
        }
        &__text{
            display: flex;
            padding-left: 50px;
            max-width: 400px;
        }
        &__block{
            flex-direction: column;
            justify-content: center;
        }
        &__end{
            padding-left: 50px;
        }
        &__img{
            padding-left: 50px;
            position: relative;
            top: 0;
            left:0;
             width: 324px;
            height: 214px;
            object-fit: cover;
        }
    }
    .production{
        &__description{
            text-align: center;
        }
        &__text1{
            text-align: center;
        }
    }
    .adress{
        justify-content: center;
        &__img{
            max-width: 576px;
            width: auto;
        }
    }
}
@media only screen and (max-width: 1090px) {
    .top{
        &__img2{
            left: 670px;
            top: 1590px;
        }
        &__img1{
            padding-left: 100px;
        }
    }
       
}

</style>